
<p>
  User{{user.id}}: "{{content}}" id:{{id}}

  <button class="btn btn-primary btn-xs update-thought" data-toggle="modal" data-target="#updateThoughtModal" data-thought-id= {{id}}>Edit</button>
  <button class="btn btn-danger btn-xs delete-thought" data-toggle="modal" data-target="#deleteThoughtModal" data-thought-id= {{id}}>Delete</button>

</p>
